<h2>Namaste! Enter Your Thoughts and Intentions Below: </h2>

<form class="" action="/journal_entries" method="post">
  <label for="content">Your Thoughts:</label>
  <br>
  <br>
  <textarea name="content" style="width:auto; height:auto"></textarea>
  <br>
  <input type="submit" name="" value="Create Entry">

</form>
