Show Page for Journal Entry
<br>

  <p><%= @journal_entry.content %></p>

<% if authorized_to_edit?(@journal_entry) %>
  <a href="/journal_entries/<%= @journal_entry.id %>/edit ">Edit Entry</a>
  <br>
  <a href="/journal_entries/<%= @journal_entry.id %>/delete ">Delete Entry</a>
<% end %>
