@media screen {
  /* --- Reset Styles --- */
* {
    list-style: none;
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
:root {
    --primary-color: rgba(255, 218, 185, 0.5);
    --overlay-color: rgba(255, 160, 122, 0.75);
    --menu-speed: 0.75s;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  }

body {
    font-family: 'Muli', sans-serif;
    line-height: 1;
    background-attachment: fixed;
  }

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
  text-shadow: 2px 2px #FFF;
    margin-top: 7%;
    background-color: rgb(255, 239, 213);
    color: #ffffff;
    height: 40vh;
}

.showcase:before {
    content:'';
    background-attachment: fixed;
    background: url('../images/yoga3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
  }

  .showcase p {
    font-size: 1.3rem;
  }

  .btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
  }

  .btn:hover {
    opacity: 0.7;
  }

}
@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
