<head>
    <style>
    body {
background-image: url("/images/dashbackground.jpg");
background-color: #cccccc;
background-repeat: no-repeat;
opacity: 0.9;
max-width: 100%;
height: auto;
}
</style>
</head>

<h2><%= @user.name %>'s Tranquil Space</h2>
<h3>Email:</h3>
<h4><%= @user.email %></h4>
