<!DOCTYPE html>
<html>
<head>

  <style>
    body {
      background-image: url("/images/signup.jpg");
      background-position: center;
      background-size: cover;
      background-color: #cccccc;
      background-repeat: no-repeat;
      opacity: 0.7;
      max-width: 100%;
      height: auto;
}
    form {
      text-align: center;
    }
</style>
    <body>
      <h2 style="text-align: center; color: #FFA07A;">Create an Account</h2><br><br>
      <p style="text-align: center; color: #FFA07A">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br><br><br>




  <form action="/users" method="post">
    <lable for="name">Name:</label>
    <input type="text" name="name" value="">
    <lable for="email">Email:</label>
    <input type="text" name="email" value="">
    <lable for="password">Password:</label>
    <input type="password" name="password" value="">
    <input type="submit" name="" value="Create User">
    <br>
    <br>
    <a href="/">Go Back</a>

  </form>
 </body>
</html>
