<h2> Sign Up Here! </h2>

  <form action="/users" method="post">
    <lable for="name">Name:</label>
    <input type="text" name="name" value="">
    <lable for="email">Email:</label>
    <input type="text" name="email" value="">
    <lable for="password">Password:</label>
    <input type="text" name="password" value="">
    <input type="submit" name="" value="Create User">


  </form>
